@using EZNEW.Application.Identity.Auth
@using EZNEW.Framework.Extension;
@using EZNEW.Framework.Serialize;
@{
    ViewData["Title"] = "授权操作管理";
    var statusValues = AuthorityOperationStatus.启用.GetType().GetEnumValueAndNames();
    var groupStatusValues = AuthorityOperationGroupStatus.启用.GetType().GetEnumValueAndNames();
}
<environment>
    <link rel="stylesheet" href="~/script/ztree/skin.css" />
</environment>

<div id="page-body">
    <div class="split-container bd-w-0" split-options='{"panels": [{ "size": 300,"min":300 }] }'>
        <div class="split-panel">
            <div class="content-panel">
                <div class="content-panel-head default h-50 bd-lw-0 bd-tw-0 txt-center lh-50">
                    @Html.AuthIcoButton("添加功能分组", "AuthorityOperation", "EditAuthorityOperationGroup",
                    new { @class = "layui-btn layui-btn-sm layui-btn-gsuccess", id = "btn_addgroup" }
                    , new { @class = "icon-plus" })
                    @Html.AuthIcoButton("删除选中", "AuthorityOperation", "DeleteAuthorityOperationGroup",
                    new { @class = "layui-btn layui-btn-sm layui-btn-danger", id = "btn_delgroup" }
                    , new { @class = "icon-trash" })
                </div>
                <div class="content-panel-body">
                    <div class="content-panel-body-inner">
                        <ul id="group_tree" class="ztree"></ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="split-panel">
            <div class="content-panel fiterhide" id="detail_container">
                <div class="content-panel-head">
                    <table cellpadding="0" cellspacing="0" class="detail-table">
                        <tr>
                            <td class="detail-td-tit">名称</td>
                            <td class="detail-td-content" id="content-for-Name"></td>
                        </tr>
                        <tr>
                            <td class="detail-td-tit">状态</td>
                            <td class="detail-td-content" id="content-for-Status"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="detail-td-content">
                                @Html.AuthIcoButton("编辑", "AuthorityOperation", "EditAuthorityOperationGroup",
                                new { @class = "layui-btn layui-btn-gprimary", id = "btn_editgroup" }
                                , new { @class = "icon-edit" })
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="content-panel-body">
                    <div class="layui-tab layui-tab-card content-panel mg-0 bd-lw-0" lay-filter="group_data_tab">
                        <ul class="layui-tab-title content-panel-head">
                            <li class="layui-this" lay-id="group_table_data_tab">授权操作</li>
                        </ul>
                        <div class="layui-tab-content content-panel-body pd-0">
                            <div class="layui-tab-item layui-show content-panel">
                                <div class="content-panel-head">
                                    <div class="layui-row pd-0 mg-0">
                                        <div class="column layui-form lis_search pd-0 pdb-10">
                                            <div class="list_search_inputgroup">
                                                <label class="layui-form-label">名称/控制器/方法</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" id="search_authname" placeholder="名称/控制器/方法"
                                                           autocomplete="off" class="layui-input">
                                                </div>
                                            </div>
                                            <div class="list_search_inputgroup mgl-5">
                                                @Html.AuthIcoButton("搜索", "AuthorityOperation", "SearchAuthorityOperation",
                                                new { @class = "layui-btn layui-btn-sm", id = "btn_search_group_table_data" }
                                                , new { @class = "icon-search" })
                                                @Html.AuthIcoButton("添加功能", "AuthorityOperation", "EditAuthorityOperation",
                                                new { @class = "layui-btn layui-btn-sm layui-btn-gsuccess", id = "btn_addgrouptabledata" }
                                                , new { @class = "icon-plus" })
                                                @Html.AuthIcoButton("删除选中", "AuthorityOperation", "DeleteAuthorityOperation",
                                                new { @class = "layui-btn layui-btn-sm layui-btn-danger", id = "btn_delgrouptabledata" }
                                                , new { @class = "icon-trash" })
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="content-panel-body">
                                    <table id="group_table_data" lay-filter="group_table_data"></table>
                                </div>
                                <div class="content-panel-foot pd-5 default_shadow_up h-38" id="group_table_data_pager"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <environment>
        <script src="~/script/ztree/jquery.ztree.all.js"></script>
        <script src="~/script/ztree/jquery.ztree.exhide.js"></script>
        <script src="~/script/page/treecontrol.js"></script>
        <script src="~/script/page/groupdata.js"></script>
    </environment>
    <script type="text/html" id="group_table_toolbar">
        @Html.AuthIcoButton("编辑", "AuthorityOperation", "EditAuthorityOperation",
        new { @class = "layui-btn layui-btn-xs layui-btn-gprimary", lay_event = "edit" }
        , new { @class = "icon-pencil" })

        @Html.AuthIcoButton("授权", "AuthorityOperation", "AuthorityOperationBindAuthorityList",
        new { @class = "layui-btn layui-btn-xs layui-btn-gsuccess", lay_event = "auth" }
        , new { @class = "icon-check" })

        @Html.AuthIcoButton("删除", "AuthorityOperation", "DeleteAuthorityOperation",
        new { @class = "layui-btn layui-btn-xs layui-btn-danger", lay_event = "remove" }
        , new { @class = "icon-trash" })
    </script>
    <script type="text/html" id="operation_status">
        {{operationStatusDict[d.Status]}}
    </script>
    <script type="text/javascript">
        var loadAuth = false;
        var operationStatusDict = new Object();
        var operationGroupStatusDict = {};
        $(function () {
            operationStatusDict = JSON.parse('@Html.Raw(JsonSerialize.ObjectToJson(statusValues))');
            operationGroupStatusDict=JSON.parse('@Html.Raw(JsonSerialize.ObjectToJson(groupStatusValues))');
            InitGroupDataManage({
                groupData: {
                    loadDataUrl: '@Url.Action("SearchAuthorityOperationGroup", "AuthorityOperation")',
                    deleteUrl: '@Url.Action("DeleteAuthorityOperationGroup", "AuthorityOperation")',
                    sortUrl: '@Url.Action("ChangeAuthorityOperationGroupSort","AuthorityOperation")',
                    editUrl: '@Url.Action("EditAuthorityOperationGroup", "AuthorityOperation")',
                    groupName: '操作分组',
                    objectTag:"AuthorityOperationGroup"
                },
                dataTable: {
                    cols: [[
                        { type: 'checkbox', fixed: 'left' }
                        , { field: 'Name', title: '名称', width: 150 }
                        , { field: 'ControllerCode', title: '控制器', width: 150 }
                        , { field: 'ActionCode', title: '方法', minWidth: 120 }
                        , { field: 'Status', align: 'center', title: '状态', width: 80, templet: '#operation_status' }
                        , { width: 200, align: 'center', fixed: 'right', toolbar: '#group_table_toolbar' }
                    ]],
                    where: function (data) {
                        var key = $.trim($("#search_authname").val());
                        return {
                            Group: data.SysNo,
                            OperationMateKey:key
                        };
                    },
                    loadDataUrl: '@Url.Action("SearchAuthorityOperation", "AuthorityOperation")',
                    removeDataUrl: '@Url.Action("DeleteAuthorityOperation", "AuthorityOperation")',
                    addDataUrl: '@Url.Action("EditAuthorityOperation", "AuthorityOperation",new { groupSysNo= "_groupid" })',
                    toolBarEvent: function (obj, btn) {
                        var data = obj.data;
                        var layEvent = obj.event;
                        switch (layEvent) {
                            case "edit":
                                OpenDialogPage({
                                    title: '编辑授权操作',
                                    content: '@Url.Action("EditAuthorityOperation", "AuthorityOperation", new { sysNo = "_sysno" })'.replace('_sysno', data.SysNo),
                                    area: ['700px', '550px']
                                });
                                break;
                            case "auth":
                                OpenDialogPage({
                                    content: '@Url.Action("AuthorityOperationBindAuthorityList", "AuthorityOperation", new { id = "_id" })'.replace('_id', data.SysNo),
                                    area: ['700px', '500px'],
                                    title: '【'+data.Name+'】操作功能授权',
                                });
                                break;
                        }
                    },
                    dataTag: 'AuthorityOperation',
                    editWindowSize: ['700px', '550px']
                },
                detailContainer: {
                    showDataDetailFunc: function (data) {
                        $('#content-for-Name').text(data.Name);
                        $('#content-for-Status').text(operationGroupStatusDict[data.Status]);
                    },
                    resetCallback: null
                }
            });
        });
    </script>
}
