
@{
    ViewBag.Title = "用户详情";
}
@using EZNEW.ViewModel.Sys.Response
@using EZNEW.Framework.Extension
@using EZNEW.Application.Identity.User;
@using EZNEW.Application.Identity.Auth;
@using EZNEW.Framework.Serialize;
@model AdminUserViewModel
@{
    var statusValues = AuthorityStatus.启用.GetType().GetEnumValueAndNames();
}

<environment>
    <link rel="stylesheet" href="~/script/ztree/skin.css" />
</environment>

<div id="page-body">
    <div class="content-panel">

        <div class="content-panel-head">
            <table cellpadding="0" cellspacing="0" class="detail-table">
                <tr>
                    <td class="detail-td-tit">姓名</td>
                    <td class="detail-td-content">@Model.RealName</td>
                    <td class="detail-td-tit">登录名</td>
                    <td class="detail-td-content">@Model.UserName</td>
                    <td class="detail-td-tit">状态</td>
                    <td class="detail-td-content" id="user_status_content">@Model.Status</td>
                </tr>
                <tr>
                    <td class="detail-td-tit">手机</td>
                    <td class="detail-td-content">@Model.Mobile</td>
                    <td class="detail-td-tit">邮箱</td>
                    <td class="detail-td-content">@Model.Email</td>
                    <td class="detail-td-tit">QQ</td>
                    <td class="detail-td-content">@Model.QQ</td>
                </tr>
                <tr>
                    <td class="detail-td-tit">创建时间</td>
                    <td class="detail-td-content" colspan="5">@Model.CreateDate.FormatToMinute()</td>
                </tr>
            </table>
        </div>

        <div class="content-panel-body">
            <div class="layui-tab layui-tab-card content-panel pd-0 mg-0" lay-filter="userauth_tab">
                <ul class="layui-tab-title content-panel-head">
                    <li class="layui-this">角色分配</li>
                    <li>权限授权</li>
                </ul>
                <div class="layui-tab-content content-panel-body pd-0 mg-0">
                    <div class="layui-tab-item layui-show content-panel">

                        <div class="content-panel-head">
                            <div class="layui-row pd-0 mg-0">
                                <div class="column layui-form lis_search pd-0 pdb-10">
                                    <div class="list_search_inputgroup">
                                        <label class="layui-form-label">角色名</label>
                                        <div class="layui-input-inline">
                                            <input type="text" id="role_name" name="role_name" placeholder="请输入角色名" autocomplete="off"
                                                   class="layui-input">
                                        </div>
                                    </div>
                                    <div class="list_search_inputgroup">
                                        <label class="layui-form-label">状态</label>
                                        <div class="layui-input-inline">
                                            @Html.EnumToSelect(u => u.Status, RoleStatus.正常, new { @class = "custom-select w-200", id = "role_status" }, firstOptionValue: "", firstOptionText: "全部", selectedValue: null)
                                        </div>
                                    </div>
                                    <div class="list_search_inputgroup mgl-5">
                                        @Html.AuthIcoButton("搜索", "Sys", "SearchRolePaging",
                                        new { @class= "layui-btn layui-btn-sm", onclick = "LoadRoleData()" }
                                        ,new {@class= "icon-search" })
                                        @Html.AuthIcoButton("清除所有角色", "Sys", "ClearUserRole",
                                        new { @class= "layui-btn layui-btn-sm layui-btn-gdanger", id = "btn_clearrole" }
                                        ,new {@class= "icon-remove" })
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="content-panel-body">
                            <table id="role_table" lay-filter="role_table"></table>
                        </div>

                        <div class="content-panel-foot pd-5 h-38" id="role_table_pager"></div>
                    </div>
                    <div class="layui-tab-item content-panel">

                        <div class="split-container bd-w-0"
                             split-options='{"panels": [{ "size": 200,"min":200 }] }'>
                            <div class="split-panel">
                                <div class="content-panel">
                                    <div class="content-panel-head default h-50 bd-lw-0 bd-tw-0 txt-center lh-50">
                                        @Html.AuthIcoButton("还原角色授权", "Sys", "RestoreUserRoleAuthority",
                                        new { @class= "layui-btn layui-btn-sm layui-btn-gdanger", id = "btn_restoreroleauth" }
                                        ,new {@class= "icon-undo" })
                                    </div>
                                    <div class="content-panel-body">
                                        <ul id="all_authtree" class="ztree"></ul>
                                    </div>
                                </div>
                            </div>
                            <div class="split-panel">
                                <div class="content-panel">
                                    <div class="content-panel-head">
                                        <div class="layui-row pd-0 mg-0">
                                            <div class="column layui-form lis_search pd-0 pdb-10">
                                                <div class="list_search_inputgroup">
                                                    <label class="layui-form-label">名称/编码</label>
                                                    <div class="layui-input-inline">
                                                        <input type="text" id="search_authnamecode" placeholder="名称/编码"
                                                               autocomplete="off" class="layui-input">
                                                    </div>
                                                </div>
                                                <div class="list_search_inputgroup mgl-5">
                                                    @Html.AuthIcoButton("搜索", "Sys", "SearchUserAuthority",
                                                    new { @class= "layui-btn layui-btn-sm", onclick = "LoadAuthorityData()" }
                                                    ,new {@class= "icon-search" })
                                                    @Html.AuthIcoButton("添加授权", "Sys", "AddUserAuthority",
                                                    new { @class= "layui-btn layui-btn-sm layui-btn-gsuccess", id = "btn_addauth" }
                                                    ,new {@class= "icon-plus" })
                                                    @Html.AuthIcoButton("删除选中授权", "Sys", "RemoveUserAuthority",
                                                    new { @class= "layui-btn layui-btn-sm layui-btn-danger", id = "btn_delauth" }
                                                    ,new {@class= "icon-trash" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content-panel-body">
                                        <table id="user_auth_table" lay-filter="user_auth_table"></table>
                                    </div>
                                    <div class="content-panel-foot pd-5 default_shadow_up h-38" id="user_auth_table_pager"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div id="page-foot" class="hidev">
    <div class="page-foot-btngroup">
        @Html.AuthIcoButton("编辑", "Sys", "EditUser",
        new { @class= "layui-btn layui-btn-gprimary", id = "btn_edit" }
        ,new {@class= "icon-pencil" })
        @if (Model.Status == UserStatus.正常)
        {
            @Html.AuthIcoButton("锁定", "Sys", "ModifyUserStatus",
            new { @class= "layui-btn layui-btn-warm", id = "btn_lock" }
            ,new {@class= "icon-lock" })
        }
        else
        {
            @Html.AuthIcoButton("解锁", "Sys", "ModifyUserStatus",
            new { @class= "layui-btn layui-btn-warm", id = "btn_lock" }
            ,new {@class= "icon-unlock" })
        }
        @Html.AuthIcoButton("修改密码", "Sys", "AdminModifyPassword",
        new { @class= "layui-btn layui-btn-gwarning", id = "btn_modifypwd" }
        ,new {@class= "icon-key" })
        @Html.AuthIcoButton("删除", "Sys", "DeleteUser",
        new { @class= "layui-btn layui-btn-gdanger", id = "btn_remove" }
        ,new {@class= "icon-trash" })
    </div>
</div>
@section Scripts{
    <script src="~/script/ztree/jquery.ztree.all.js"></script>
    <script src="~/script/ztree/jquery.ztree.exhide.js"></script>
    <script src="~/script/page/treecontrol.js"></script>
    <script type="text/html" id="role_toolbar">
        @Html.AuthIcoButton("删除", "Sys", "RemoveUserRole",
        new { @class= "layui-btn layui-btn-xs layui-btn-danger", lay_event = "remove" }
        ,new {@class= "icon-trash" })
    </script>
    <script type="text/html" id="roletable_toolbar">
        @Html.AuthIcoButton("添加角色", "Sys", "AddUserRole",
        new { @class= "layui-btn layui-btn-sm layui-btn-gsuccess", id = "btn_addrole" }
        ,new {@class= "icon-plus" })
        @Html.AuthIcoButton("删除选中角色", "Sys", "RemoveUserRole",
        new { @class= "layui-btn layui-btn-sm layui-btn-danger", id = "btn_deleterole" }
        ,new {@class= "icon-trash" })
    </script>
    <script type="text/html" id="auth_status">
        {{authStatusDict[d.Status]}}
    </script>
    <script type="text/javascript">
        var loadAuth = false;
        var nowAuthNode = null;
        var authStatusDict = new Object();
        var authGroupTree = null;
        var nowUser = JSON.parse('@Html.Raw(JsonSerialize.ObjectToJson(Model))');
        var lockStatus =@((int)UserStatus.锁定);
        var unlockStatus=@((int)UserStatus.正常);
        $(function () {
            authStatusDict=JSON.parse('@Html.Raw(JsonSerialize.ObjectToJson(statusValues))');
            InitTable({
                elem: 'role_table',
                toolbar: '#roletable_toolbar',
                defaultToolbar:[],
                even: true,
                cols: [[
                    { type: 'checkbox', fixed: 'left' },
                    { field: 'Name', title: '角色名', minWidth: 120 }
                    , { field: 'StatusText', align: 'center', title: '状态', width: 80 }
                    , { width: 80, align: 'center', fixed: 'right', toolbar: '#role_toolbar' }
                ]]
            }, LoadRoleData);

            //表格事件监听
            ListenTableEvent('role_table', function (obj, btn) {
                var data = obj.data;
                var layEvent = obj.event;
                var tr = obj.tr;
                switch (layEvent) {
                    case "remove":
                        RemoveRole([data]);
                        break;
                }
                RefreshSelectTable();
            });

            //添加角色
            $("#btn_addrole").click(function () {
                OpenDialogPage({
                    title: '选择角色',
                    content:'@Url.Action("RoleMultipleSelect","Sys")',
                    area: ["300px","450px"]
                });
            });

            //删除选中角色
            $("#btn_deleterole").click(function () {
                var datas = GetTableCheckData('role_table').data;
                RemoveRole(datas);
            });

            //清除角色
            $("#btn_clearrole").click(function () {
                ClearRole();
            });

            //tab事件监听
            ListenTabEvent('userauth_tab', function (data) {
                if (data.index == 1) {
                    OpenUserAuthTab();
                }
            });

            //还原用户角色授权
            $("#btn_restoreroleauth").click(function () {
                RestoreUserRoleAuthority();
            });

            //添加授权权限
            $("body").on("click","#btn_addauth",function () {
                OpenDialogPage({
                    title: '选择权限',
                    content:'@Url.Action("AuthorityMultiSelect", "Sys")',
                    area: ["700px","500px"]
                });
            });

            //删除授权权限
            $("body").on("click","#btn_delauth",function () {
                var removeDatas = GetTableCheckData('user_auth_table').data;
                RemoveAuthority(removeDatas);
            });

            //编辑用户
            $("#btn_edit").click(function () {
                window.top.RedirectCurrentPage('@Url.Action("EditUser", "Sys", new { sysNo = Model.SysNo })', '编辑用户');
            });

            //修改用户状态
            $("#btn_lock").click(function () {
                ModifyStatus();
            });

            //修改密码
            $("#btn_modifypwd").click(function () {
                OpenDialogPage({
                    content: '@Url.Action("AdminModifyPassword", "Sys",new { sysNo=Model.SysNo})',
                    area:['550px','300px'],
                    title: '修改登录密码',
                });
            });
            //删除用户
            $("#btn_remove").click(function () {
                ConfirmMsg('用户删除后将不能恢复，确认删除吗?', function () {
                    $.post('@Url.Action("DeleteUser","Sys")', { sysNos: ['@Model.SysNo'] }, function (res) {
                        ResultMsg(res);
                        if (res.Success) {
                            window.top.CloseCurrentPage();
                        }
                    });
                });
            });
        });

        //加载角色数据
        function LoadRoleData() {
            PageSearch({
                 url: '@Url.Action("SearchRolePaging","Sys")',
                 listEle: "role_table",
                 pagerEle: "role_table_pager",
                 data: {
                     NameMateKey: $.trim($("#role_name").val()),
                     Status: $("#role_status").val(),
                     UserFilter: {
                         SysNos:['@Model.SysNo']
                     }
                 }
            });
        }

        //移除角色
        function RemoveRole(datas){
            if (!datas || datas.length<1){
                return;
            }
            var roleIds = [];
            for (var d in datas) {
                roleIds.push(datas[d].SysNo);
            }
            ConfirmMsg('确认移除绑定角色吗?', function (res) {
                $.post('@Url.Action("RemoveUserRole","Sys")', { userId: '@Model.SysNo', roleIds:roleIds}, function (res) {
                    ResultMsg(res);
                    if (res.Success) {
                        LoadRoleData();
                    }
                });
            });
        }

        //清除角色
        function ClearRole() {
            ConfirmMsg('确认清除所有绑定的角色吗?', function () {
                $.post('@Url.Action("ClearUserRole","Sys")', { userId: '@Model.SysNo' }, function (res) {
                    ResultMsg(res);
                    if (res.Success) {
                        LoadRoleData();
                    }
                });
            });
        }

        //选择回调
        function EZNEW_SelectCallback(res) {
            if (!res || !res.data.keys || res.data.keys.length < 1) {
                return;
            }
            switch (res.objectTag) {
                case "Role":
                    $.post('@Url.Action("AddUserRole", "Sys")', { userId: '@Model.SysNo', roleIds: res.data.keys }, function (res) {
                        ResultMsg(res);
                        if (res.Success) {
                            LoadRoleData();
                        }
                    });
                    break;
                case "Authority":
                    $.post('@Url.Action("AddUserAuthorize", "Sys")', { userId: '@Model.SysNo', authSysNos: res.data.keys }, function (res) {
                        ResultMsg(res);
                        if (res.Success) {
                            LoadAuthorityData();
                        }
                    });
                    break;
            }
        }

        //打开授权面板
        function OpenUserAuthTab() {
            if (loadAuth) {
                return;
            }
            setTimeout(function () {
                InitTable({
                    elem: 'user_auth_table',
                    defaultToolbar: [],
                    cols: [[
                        { type: 'checkbox', fixed: 'left' }
                        , { field: 'Name', title: '名称', width: 150, fixed: 'left' }
                        , { field: 'Code', title: '编码', minWidth: 150 }
                        , { field: 'Status', align: 'center', title: '状态', width: 80, templet: '#auth_status' }
                        , { width: 80, align: 'center', fixed: 'right', toolbar: '#role_toolbar' }
                    ]]
                });
            }, 0);

            //监听数据表格事件
            ListenTableEvent('user_auth_table', function (obj, btn) {
                var data = obj.data;
                var layEvent = obj.event;
                var tr = obj.tr;
                switch (layEvent) {
                    case "remove":
                        RemoveAuthority([data]);
                        break;
                }
            });

            authGroupTree=new CTreeControl({
                data: {
                    url: '@Url.Action("SearchAuthorityGroup", "Sys")',
                    treeEleId: 'all_authtree',
                    onClick: function (event, treeId, treeNode) {
                        nowAuthNode = treeNode;
                        LoadAuthorityData();
                    }
                }
            });
            loadAuth = true;
        }

        //加载权限数据
        function LoadAuthorityData() {
            if (!nowAuthNode) {
                return;
            }
            PageSearch({
                url: '@Url.Action("SearchUserAuthority", "Sys")',
                listEle: 'user_auth_table',
                pagerEle: 'user_auth_table_pager',
                data: {
                   Group: nowAuthNode.id,
                   NameCodeMateKey: $.trim($("#search_authnamecode").val()),
                   UserFilter: {
                       SysNos: ['@Model.SysNo']
                   }
                }
             });
        }

        //还原用户角色授权
        function RestoreUserRoleAuthority() {
            ConfirmMsg('还原角色权限将删除单独赋予用户和用户单独禁用的权限,确认还原吗?', function () {
                $.post('@Url.Action("RestoreUserRoleAuthorize", "Sys")', { userId:'@Model.SysNo'}, function (res) {
                    ResultMsg(res);
                    if (res.Success) {
                        LoadAuthorityData();
                    }
                });
            });
        }

        //删除授权
        function RemoveAuthority(datas) {
            if (!datas || datas.length < 1) {
                ErrorMsg('没有指定要删除的授权信息');
                return;
            }
            var authIds = [];
            for (var d in datas) {
                authIds.push(datas[d].SysNo);
            }
            ConfirmMsg('确认删除用户授权吗?', function () {
                $.post('@Url.Action("RemoveUserAuthorize", "Sys")', { userId: '@Model.SysNo', authSysNos: authIds }, function (res) {
                    ResultMsg(res);
                    if (res.Success) {
                        LoadAuthorityData();
                    }
                });
            });
        }

        //修改用户状态
        function ModifyStatus() {
            var status = nowUser.Status == lockStatus ? unlockStatus : lockStatus;
            var unlock = status ==unlockStatus;
            ConfirmMsg(unlock ?'账户解锁后将恢复登陆,确认解锁吗?':'用户锁定后将不能登录使用,确认锁定吗?', function () {
                $.post('@Url.Action("ModifyUserStatus", "Sys")', { id: '@Model.SysNo',status:status }, function (res) {
                    ResultMsg(res);
                    if (res.Success) {
                        nowUser.Status = status;
                        var lockBtn = $("#btn_lock");
                        if (unlock) {
                            $("#user_status_content").html('@UserStatus.正常.ToString()');
                            lockBtn.html('<i class="icon-lock"></i> 锁定');
                        } else {
                            $("#user_status_content").html('@UserStatus.锁定.ToString()');
                            lockBtn.html('<i class="icon-unlock"></i> 解锁');
                        }
                    }
                });
            });
        }
    </script>
}
