
@{
    ViewData["Title"] = "修改登陆密码";
}
@using EZNEW.ViewModel.Sys.Request
@model ModifyPasswordViewModel
<div id="page-body">
    <div id="page-body-inner">
        <div class="layui-form">
            @using (Html.AjaxBeginForm("ModifyPassword", "Sys", new AjaxFormOptions() { OnSuccess = "EZNEW_SuccessCallback", OnFailure = "EZNEW_FailedCallback", HttpMethod = "Post" }, new { id = "default-form", @class = "pdt-10" }))
            {
                <div class="layui-form-item">
                    <label class="layui-form-label">当前密码</label>
                    <div class="layui-input-inline w-200">
                        @Html.PasswordFor(a => a.NowPassword, new { @class = "layui-input" })
                    </div>
                    <div class="layui-form-mid form-validate-msg">@Html.DefaultValidationMessageFor(c => c.NowPassword, "", new { @class = "form-validate-msg" })</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">新密码</label>
                    <div class="layui-input-inline w-200">
                        @Html.PasswordFor(a => a.NewPassword, new { @class = "layui-input" })
                    </div>
                    <div class="layui-form-mid form-validate-msg">@Html.DefaultValidationMessageFor(c => c.NewPassword, "", new { @class = "form-validate-msg" })</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">确认新密码</label>
                    <div class="layui-input-inline w-200">
                        @Html.PasswordFor(a => a.ConfirmNewPassword, new { @class = "layui-input" })
                    </div>
                    <div class="layui-form-mid form-validate-msg">@Html.DefaultValidationMessageFor(c => c.ConfirmNewPassword, "", new { @class = "form-validate-msg" })</div>
                </div>
            }
        </div>
    </div>
</div>

<div id="page-foot" class="hidev">
    <div class="page-foot-btngroup">
        <button type="button" id="btn_submit" class="layui-btn layui-btn-gsuccess"><i class="icon-save"></i> 提交</button>
        <button type="reset" id="btn_reset" class="layui-btn layui-btn-gsecondary"><i class="icon-undo"></i> 重置</button>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        EZNEW_DialogTopContainer = true;
        $(function () {
            BindDefaultFormSubmitEnterEvent();
        });
    </script>

}

