
@{
    ViewBag.Title = "编辑角色";
}
@using EZNEW.Web;
@using EZNEW.ViewModel.Sys
@using EZNEW.Module.Sys;
@model RoleViewModel
<div id="page-body">
    <div id="page-body-inner">
        <div class="layui-form">
            @using (Html.AjaxBeginForm("EditRole", "Role", new AjaxFormOptions() { HttpMethod = "Post", OnSuccess = "RoleSuccessCallback", OnFailure = "RoleFailedCallback" }, new { id = "default-form", @class = "pdt-10" }))
            {
                @Html.Hidden("Id", null, new { id = "Id" })
                <div class="layui-form-item">
                    <label class="layui-form-label">@Html.LabelFor(c => c.Name)</label>
                    <div class="layui-input-inline w-200">
                        @Html.TextBoxFor(a => a.Name, new { @class = "layui-input", autocomplete = "off" })
                    </div>
                    <div class="layui-form-mid form-validate-msg">
                        @Html.DefaultValidationMessageFor(c => c.Name, "", new { @class = "form-validate-msg" })
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">@Html.LabelFor(c => c.Status)</label>
                    <div class="layui-input-inline w-200">
                        @Html.EnumToSelect(a => a.Status, RoleStatus.Enable, new { @class = "custom-select w-200" }, selectedValue: Model?.Status.ToString("d"))
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">@Html.LabelFor(c => c.Remark)</label>
                    <div class="layui-input-inline w-200">
                        @Html.TextAreaFor(a => a.Remark, new { @class = "layui-input w-200 h-50", autocomplete = "off" })
                    </div>
                    <div class="layui-form-mid form-validate-msg">
                        @Html.DefaultValidationMessageFor(c => c.Remark, "", new { @class = "form-validate-msg" })
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div id="page-foot" class="hidev">
    <div class="page-foot-btngroup">
        <button class="layui-btn layui-btn-gsuccess" id="btn_submit"><i class="icon-save"></i> 提交</button>
        <button type="reset" class="layui-btn layui-btn-gsecondary" id="btn_reset"><i class="icon-undo"></i> 重置</button>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        var detailUrl = '@Url.Action("RoleDetail","Role",new { id="_id"})';
        $(function () {
            BindDefaultFormSubmitEnterEvent();
        });

        //成功回调
        function RoleSuccessCallback(res) {
            if (!res) {
                return;
            }
            ResultMsg(res);
            if (res.Success) {
                window.top.RedirectCurrentPage(detailUrl.replace('_id', res.Data.Id), '角色详情');
            }
        }

        //失败回掉
        function RoleFailedCallback() {
            ErrorMsg('提交失败');
        }
    </script>
}