@{
    ViewBag.Title = "角色详情";
}
@using EZNEW.ViewModel.Sys
@using EZNEW.Module.Sys;
@using EZNEW.Serialize;
@model RoleViewModel
@{
    var statusValues = PermissionStatus.Enable.GetType().GetEnumValueAndNames();
}
<environment>
    <link rel="stylesheet" href="~/script/ztree/skin.css" />
</environment>
<div id="page-body">
    <div class="content-panel">
        <div class="content-panel-head">
            <table cellpadding="0" cellspacing="0" class="detail-table">
                <tr>
                    <td class="detail-td-tit">名称</td>
                    <td class="detail-td-content">@Model.Name</td>

                    <td class="detail-td-tit">状态</td>
                    <td class="detail-td-content">@Model.StatusName</td>

                    <td class="detail-td-tit">添加时间</td>
                    <td class="detail-td-content">@Model.CreateDate.FormatToMinute()</td>

                </tr>
                <tr>
                    <td class="detail-td-tit">备注信息</td>
                    <td class="detail-td-content">@Model.Remark</td>
                </tr>
            </table>
        </div>
        <div class="content-panel-body">
            <div class="layui-tab layui-tab-card content-panel pd-0 mg-0" lay-filter="roledetail_tab">
                <ul class="layui-tab-title content-panel-head">
                    <li class="layui-this">用户</li>
                    <li>授权</li>
                </ul>
                <div class="layui-tab-content content-panel-body pd-0 mg-0">
                    <div class="layui-tab-item layui-show content-panel">

                        <div class="content-panel-head">
                            <div class="layui-row pd-0 mg-0">
                                <div class="column layui-form lis_search pd-0 pdb-10">
                                    <div class="list_search_inputgroup">
                                        <label class="layui-form-label">姓名/登录名</label>
                                        <div class="layui-input-inline">
                                            <input type="text" id="user_name" name="user_name" placeholder="姓名/登录名" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="list_search_inputgroup mgl-5">
                                        @Html.AuthIcoButton("搜索", "User", "SearchUser",
                                        new { @class = "layui-btn layui-btn-sm", onclick = "SearchUserData()" }
                                        , new { @class = "icon-search" })
                                        @Html.AuthIcoButton("清除所有用户", "Role", "ClearRoleUser",
                                        new { @class = "layui-btn layui-btn-sm layui-btn-gdanger", id = "btn_clearuser" }
                                        , new { @class = "icon-remove" })
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="content-panel-body">
                            <table id="user_table" lay-filter="user_table"></table>
                        </div>

                        <div class="content-panel-foot pd-5 h-38" id="user_table_pager"></div>
                    </div>
                    <div class="layui-tab-item content-panel">

                        <div class="split-container bd-w-0"
                             split-options='{"panels": [{ "size": 200,"min":200 }] }'>
                            <div class="split-panel">
                                <div class="content-panel">
                                    <div class="content-panel-body">
                                        <ul id="all_authtree" class="ztree"></ul>
                                    </div>
                                </div>
                            </div>
                            <div class="split-panel">
                                <div class="content-panel">
                                    <div class="content-panel-head">
                                        <div class="layui-row pd-0 mg-0">
                                            <div class="column layui-form lis_search pd-0 pdb-10">
                                                <div class="list_search_inputgroup">
                                                    <label class="layui-form-label">名称/编码</label>
                                                    <div class="layui-input-inline">
                                                        <input type="text" id="search_authnamecode" placeholder="名称/编码"
                                                               autocomplete="off" class="layui-input">
                                                    </div>
                                                </div>
                                                <div class="list_search_inputgroup mgl-5">
                                                    @Html.AuthIcoButton("搜索", "Permission", "SearchUserPermission",
                                                    new { @class = "layui-btn layui-btn-sm", onclick = "LoadPermissionData()" }
                                                    , new { @class = "icon-search" })
                                                    @Html.AuthIcoButton("添加授权", "User", "AddUserPermission",
                                                    new { @class = "layui-btn layui-btn-sm layui-btn-gsuccess", id = "btn_addauth" }
                                                    , new { @class = "icon-plus" })
                                                    @Html.AuthIcoButton("删除选中授权", "User", "RemoveUserPermission",
                                                    new { @class = "layui-btn layui-btn-sm layui-btn-danger", id = "btn_delauth" }
                                                    , new { @class = "icon-trash" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content-panel-body">
                                        <table id="role_auth_table" lay-filter="role_auth_table"></table>
                                    </div>
                                    <div class="content-panel-foot pd-5 default_shadow_up h-38" id="role_auth_table_pager"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="page-foot" class="hidev">
    <div class="page-foot-btngroup">
        @Html.AuthIcoButton("编辑", "Role", "EditRole",
        new { @class = "layui-btn layui-btn-gprimary", id = "btn_edit" }
        , new { @class = "icon-pencil" })
        @Html.AuthIcoButton("删除", "Role", "RemoveRole",
        new { @class = "layui-btn layui-btn-gdanger", id = "btn_remove" }
        , new { @class = "icon-trash" })
    </div>
</div>

@section Scripts{
    <script src="~/script/ztree/jquery.ztree.all.js"></script>
    <script src="~/script/ztree/jquery.ztree.exhide.js"></script>
    <script src="~/script/page/treecontrol.js"></script>
    <script type="text/html" id="user_toolbar">
        @Html.AuthIcoButton("删除", "User", "RemoveUserRole",
        new { @class = "layui-btn layui-btn-xs layui-btn-danger", lay_event = "remove" }
        , new { @class = "icon-trash" })
    </script>
    <script type="text/html" id="usertable_toolbar">
        @Html.AuthIcoButton("添加用户", "User", "AddUserRole",
        new { @class = "layui-btn layui-btn-sm layui-btn-gsuccess", id = "btn_adduser" }
        , new { @class = "icon-plus" })
        @Html.AuthIcoButton("删除选中用户", "User", "RemoveUserRole",
        new { @class = "layui-btn layui-btn-sm layui-btn-danger", id = "btn_removeuser" }
        , new { @class = "icon-trash" })
    </script>
    <script type="text/html" id="auth_status">
        {{permissionStatusDict[d.Status]}}
    </script>
    <script type="text/javascript">
        var loadAuth = false;
        var nowAuthNode = null;
        var permissionStatusDict = new Object();
        var authGroupTree = null;
        $(function () {
            permissionStatusDict=JSON.parse('@Html.Raw(JsonSerializeHelper.ObjectToJson(statusValues))');
            //编辑
            $("#btn_edit").click(function () {
                window.top.RedirectCurrentPage('@Url.Action("EditRole","Role",new { id=Model.Id})', '编辑角色');
            });

            //删除
            $("#btn_remove").click(function () {
                ConfirmMsg('确认删除角色吗?', function () {
                    $.post('@Url.Action("RemoveRole", "Role")', { ids: '@Model.Id' }, function (res) {
                        ResultMsg(res);
                        if (res.Success) {
                            window.top.CloseCurrentPage();
                        }
                    });
                });
            });

            //tab事件监听
            ListenTabEvent('roledetail_tab', function (data) {
                if (data.index == 1) {
                    OpenRoleAuthTab();
                }
            });

            //用户列表
            InitTable({
                elem: 'user_table',
                toolbar: '#usertable_toolbar',
                defaultToolbar: [],
                even: true,
                cols: [[
                    { type: 'checkbox', fixed: 'left' },
                    { field: 'RealName', title: '姓名', width: 150, sort: true, fixed: 'left' }
                    , { field: 'UserName', title: '登录名', width: 130 }
                    , { field: 'Mobile', title: '手机', width: 130 }
                    , { field: 'Email', title: '邮箱', minWidth: 120 }
                    , { field: 'StatusName', title: '状态', align: 'center', width: 80, templet: '#toobar_status' }
                    , { width: 100, align: 'center', fixed: 'right', toolbar: '#user_toolbar' }
                ]]
            }, SearchUserData);

            //表格事件监听
            ListenTableEvent('user_table', function (obj, btn) {
                var data = obj.data;
                var layEvent = obj.event;
                var tr = obj.tr;
                switch (layEvent) {
                    case "remove":
                        RemoveUser([data]);
                        break;
                }
                SearchUserData();
            });

            //添加用户
            $("#btn_adduser").click(function () {
                OpenDialogPage({
                    title: '选择用户',
                    content:'@Url.Action("UserMultiSelect", "User")',
                    area: ["700px","500px"]
                });
            });

            //删除选中用户
            $("#btn_removeuser").click(function () {
                var datas = GetTableCheckData('user_table').data;
                RemoveUser(datas);
            });

            //清除用户
            $("#btn_clearuser").click(function () {
                ClearUser();
            });

            //添加授权权限
            $("body").on("click","#btn_addauth",function () {
                OpenDialogPage({
                    title: '选择权限',
                    content:'@Url.Action("PermissionMultiSelect", "Permission")',
                    area: ["700px","500px"]
                });
            });

            //删除授权权限
            $("body").on("click","#btn_delauth",function () {
                var removeDatas = GetTableCheckData('role_auth_table').data;
                RemovePermission(removeDatas);
            });
        });


        //加载用户数据
        function SearchUserData() {
            PageSearch({
                 url: '@Url.Action("SearchUser","User")',
                 listEle: "user_table",
                 pagerEle: "user_table_pager",
                 data: {
                     NameMateKey: $.trim($("#user_name").val()),
                     RoleFilter: {
                         Ids:['@Model.Id']
                     }
                 }
            });
        }

        //移除用户
        function RemoveUser(datas){
            if (!datas || datas.length<1){
                return;
            }
            var userIds = [];
            for (var d in datas) {
                userIds.push(datas[d].Id);
            }
            ConfirmMsg('确认移除绑定用户吗?', function (res) {
                $.post('@Url.Action("RemoveRoleUser","Role")', { roleId: '@Model.Id', userIds: userIds}, function (res) {
                    ResultMsg(res);
                    if (res.Success) {
                        SearchUserData();
                    }
                });
            });
        }

        //清除用户
        function ClearUser() {
            ConfirmMsg('确认清除所有绑定的用户吗?', function () {
                $.post('@Url.Action("ClearRoleUser", "Role")', { roleId: '@Model.Id' }, function (res) {
                    ResultMsg(res);
                    if (res.Success) {
                        SearchUserData();
                    }
                });
            });
        }

        //打开授权面板
        function OpenRoleAuthTab() {
            if (loadAuth) {
                return;
            }
            setTimeout(function () {
                InitTable({
                    elem: 'role_auth_table',
                    defaultToolbar: [],
                    cols: [[
                        { type: 'checkbox', fixed: 'left' }
                        , { field: 'Name', title: '名称', width: 150, fixed: 'left' }
                        , { field: 'Code', title: '编码', minWidth: 150 }
                        , { field: 'Status', align: 'center', title: '状态', width: 80, templet: '#auth_status' }
                        , { width: 80, align: 'center', fixed: 'right', toolbar: '#user_toolbar' }
                    ]]
                });
            }, 0);

            //监听数据表格事件
            ListenTableEvent('role_auth_table', function (obj, btn) {
                var data = obj.data;
                var layEvent = obj.event;
                var tr = obj.tr;
                switch (layEvent) {
                    case "remove":
                        RemovePermission([data]);
                        break;
                }
            });

            authGroupTree=new CTreeControl({
                data: {
                    url: '@Url.Action("SearchPermissionGroup", "PermissionGroup")',
                    treeEleId: 'all_authtree',
                    onClick: function (event, treeId, treeNode) {
                        nowAuthNode = treeNode;
                        LoadPermissionData();
                    }
                }
            });
            loadAuth = true;
        }

        //加载权限数据
        function LoadPermissionData() {
            if (!nowAuthNode) {
                return;
            }
            PageSearch({
                url: '@Url.Action("SearchRolePermission", "Permission")',
                listEle: 'role_auth_table',
                pagerEle: 'role_auth_table_pager',
                data: {
                   Group: nowAuthNode.id,
                   NameCodeMateKey: $.trim($("#search_authnamecode").val()),
                   RoleFilter: {
                       Ids: ['@Model.Id']
                   }
                }
             });
        }

        //删除授权
        function RemovePermission(datas) {
            if (!datas || datas.length < 1) {
                ErrorMsg('没有指定要删除的授权信息');
                return;
            }
            var permissionIds = [];
            for (var d in datas) {
                permissionIds.push(datas[d].Id);
            }
            ConfirmMsg('确认删除角色授权吗?', function () {
                $.post('@Url.Action("RemoveRolePermission", "Role")', { roleId: '@Model.Id', permissionIds: permissionIds }, function (res) {
                    ResultMsg(res);
                    if (res.Success) {
                        LoadPermissionData();
                    }
                });
            });
        }

        //选择回调
        function EZNEW_SelectCallback(res) {
            if (!res || !res.data) {
                return;
            }
            switch (res.objectTag) {
                case "User":
                    var userIds = [];
                    for (var u in res.data) {
                        userIds.push(res.data[u].Id);
                    }
                    if (userIds.length < 1) {
                        return;
                    }
                    $.post('@Url.Action("AddRoleUser", "Role")', { roleId: '@Model.Id', userIds: userIds }, function (res) {
                        ResultMsg(res);
                        if (res.Success) {
                            SearchUserData();
                        }
                    });
                    break;
                case "Permission":
                    if (res.data.keys.length < 1) {
                        return;
                    }
                    $.post('@Url.Action("AddRolePermission", "Role")', { roleId: '@Model.Id', permissionIds: res.data.keys }, function (res) {
                        ResultMsg(res);
                        if (res.Success) {
                            LoadPermissionData();
                        }
                    });
                    break;
            }
        }
    </script>
}

