@{
    ViewBag.Title = "角色";
}
@using EZNEW.Serialize;
<div id="page-head">
    <div class="layui-row pd-0 mg-0">
        <div class="column layui-form lis_search pd-0 pdb-10">
            <div class="list_search_inputgroup mgl-5">
                <div class="list_search_inputgroup">
                    <label class="layui-form-label">角色名称</label>
                    <div class="layui-input-inline">
                        <input type="text" id="search_name" placeholder="角色名称" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                @Html.AuthIcoButton("搜索", "Role", "SearchRole",
                new { @class = "layui-btn layui-btn-sm", id = "search_btn" }
                , new { @class = "icon-search" })
            </div>
        </div>
    </div>

</div>
<div id="page-body">
    <table id="demo" lay-filter="demo"></table>
</div>
<div id="page-foot" class="pd-5 h-38"></div>

@section Scripts{

    <script type="text/html" id="toobar_createdate">
        {{new Date(d.CreateDate).format('yyyy-MM-dd hh:mm:ss')}}
    </script>

    <script type="text/html" id="table_toolbar">
        @Html.AuthIcoButton("添加角色", "Role", "EditRole",
        new { @class = "layui-btn layui-btn-sm layui-btn-gsuccess", id = "create_btn" }
        , new { @class = "icon-plus" })
        @Html.AuthIcoButton("删除选中", "Role", "DeleteRole",
        new { @class = "layui-btn layui-btn-sm layui-btn-danger", id = "deleteselect_btn" }
        , new { @class = "icon-trash" })
    </script>
    <script type="text/html" id="role_bar">
        @Html.AuthIcoButton("详情", "Role", "RoleDetail",
        new { @class = "layui-btn layui-btn-xs layui-btn-ginfo", lay_event = "role_detail" }
        , new { @class = "icon-file-alt" })
        @Html.AuthIcoButton("编辑", "Role", "EditRole",
        new { @class = "layui-btn layui-btn-xs layui-btn-gprimary", lay_event = "role_edit" }
        , new { @class = "icon-edit" })
        @Html.AuthIcoButton("删除", "Role", "DeleteRole",
        new { @class = "layui-btn layui-btn-xs layui-btn-danger", lay_event = "role_del" }
        , new { @class = "icon-trash" })
    </script>

    <script type="text/javascript">
        $(function () {
            var cols=[];
            cols.push({ type: 'checkbox', fixed: 'left' });
            cols.push({ field: 'Name', title: '名称', width: 150,sort: true, fixed: 'left' });
            cols.push({ field: 'StatusName', title: '状态', align: 'center', width: 80});
            cols.push({ field: 'Remark', title: '备注信息', minWidth: 130 });
            cols.push({ field: 'CreateDate', title: '添加时间', width: 160, templet: '#toobar_createdate' });
            cols.push({ width: 200, align: 'center', fixed: 'right', toolbar: '#role_bar' });
            InitTable({
                elem: 'demo',
                toolbar: '#table_toolbar',
                defaultToolbar:[],
                cols: [cols]
            }, LoadRoleData);

            //搜索事件
            $("#search_btn").click(function () {
                LoadRoleData();
            });

            //创建角色
            $("#create_btn").click(function () {
                OpenEditRolePage('@Url.Action("EditRole","Role")', '添加角色');
            });

            //删除选中
            $("#deleteselect_btn").click(function () {
                var checkedValues = GetTableCheckData("demo").data;
                if (!checkedValues || checkedValues.length <= 0) {
                    ErrorMsg("还没有选择要删除的信息");
                    return;
                }
                RemoveRole(checkedValues);
            });

            //表格事件监听
            ListenTableEvent('demo', function (obj, btn) {
                var data = obj.data;
                var layEvent = obj.event;
                var tr = obj.tr;
                switch (layEvent) {
                    case "role_detail":
                        var detailUrl = '@Url.Action("RoleDetail", "Role", new { id="sys_no"})'.replace('sys_no', data.Id);
                        OpenEditRolePage(detailUrl, '角色详情');
                        break;
                    case "role_edit":
                        var editUrl = '@Url.Action("EditRole", "Role", new { id="sys_no"})'.replace('sys_no', data.Id);
                        OpenEditRolePage(editUrl, '编辑角色');
                        break;
                    case "role_del":
                        RemoveRole([data]);
                        break;
                }
            });
        });

        //加载角色数据
        function LoadRoleData() {
            var name = $.trim($("#search_name").val());
            var data = {
                nameMateKey: name
            };
            PageSearch({
                url: '@Url.Action("SearchRole", "Role")',
                method: "post",
                listEle: "demo",
                pagerEle: "page-foot",
                data: data
            });
        }

        //删除角色
        function RemoveRole(datas) {
            if (!datas || datas.length<1) {
                return;
            }
            var ids = [];
            for (var d in datas) {
                var nowData = datas[d];
                ids.push(nowData.Id);
            }
            ConfirmMsg('角色删除后将不能恢复，确认删除吗?', function () {
                $.post('@Url.Action("RemoveRole","Role")', { ids: ids }, function (res) {
                    ResultMsg(res);
                    if (res.Success) {
                        LoadRoleData();
                    }
                });
            });
        };

        //打开角色编辑页面
        function OpenEditRolePage(url, tit) {
            if (!url || $.trim(url) == "") {
                return;
            }
            window.top.OpenPage({
                url: url,
                title: tit
            });
        }
    </script>
}