@{
    Layout = null;
    var loginUser = Site.Console.Util.IdentityManager.GetLoginUser();
}
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>EZNEW.NET应用开发框架</title>
    <environment>
        <link rel="stylesheet" href="~/script/layui/css/layui.css" />
        <link rel="stylesheet" href="~/style/css/cuslayui.css" />
        <link rel="stylesheet" href="~/style/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/style/icon/line-icons/simple-line-icons.css" />
        <link rel="stylesheet" href="~/script/imessage/message.css" />
        <link rel="stylesheet" href="~/style/css/common.css" />
        <link rel="stylesheet" href="~/style/css/index.css" />
    </environment>
</head>

<body>
    <div id="index-head" class="layui-fluid pd-0">
        <div class="layui-row hp-100">
            <div class="hp-100 layui-col-lg4 layui-col-md4 layui-col-sm5 layui-show-sm-inline-block layui-hide-xs">
                <div class="hp-100 lh-55 pdl-10 clor-fff fs-20">
                    <img src="style/images/flogo1.png" height="40" />
                </div>
            </div>
            <div class="layui-col-lg3 layui-col-md3 layui-show-md-inline-block layui-hide-sm layui-hide-xs">&nbsp;</div>
            <div class="layui-col-lg5 layui-col-md5 layui-col-sm7 layui-show-sm-inline-block txt-right">
                <ul class="layui-nav bg-none">
                    <li class="layui-nav-item">
                        <a href="javascript:void(0)"><img src="~/style/images/ava.jpg" class="layui-nav-img">@loginUser.RealName</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;" id="btn_modifypwd">修改密码</a></dd>
                            <dd><a href="@Url.Action("LoginOut","Account")">安全退出</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="index-body">
        <div id="index-menu" class="fl">
            <div id="index-menu-first">
                <div id="menu-srolltop-btn"><i class="icon-chevron-up"></i></div>
                <div id="menu-nav-con">
                    <ul>
                        <li>
                            <div class="mtopspace"></div>
                            <div class="mico"><i class="spicon-user"></i></div>
                            <div class="menuname">账户/授权</div>
                            <div class="menu-list">
                                <h3 class="funcgroupmenu-title"><i class="menugroup-ico icon-user"></i> 角色/账户</h3>
                                <div class="funcgroupmenu-list">
                                    <ul>
                                        <li action="@Url.Action("RoleList","Role")">角色管理</li>
                                        <li action="@Url.Action("UserList","User")">管理账户</li>
                                    </ul>
                                </div>
                                <h3 class="funcgroupmenu-title"><i class="menugroup-ico icon-cogs"></i> 权限/功能</h3>
                                <div class="funcgroupmenu-list">
                                    <ul>
                                        <li action="@Url.Action("PermissionGroupList","PermissionGroup")">权限管理</li>
                                        <li action="@Url.Action("OperationGroupList","OperationGroup")">功能操作</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="menu-srolldown-btn"><i class="icon-chevron-down"></i></div>
            </div>
            <div id="index-menu-second">
                <div id="index-menu-second-list">
                </div>
            </div>
        </div>
        <div id="index-content">
            <div class="pagecontent-tabtitles">
                <div class="pagetabs-btn micon micon-shrink-right" title="隐藏菜单" id="btn_togglemenu"></div>
                <div class="pagetabs-btn micon micon-prev" id="btn_prevtabitem"></div>
                <div class="pagetabs-btn micon micon-next" id="btn_nexttabitem"></div>
                <div class="pagetabs-btn micon micon-refresh-3" id="tabpagetitle-refreshcurrentpage"></div>
                <div class="show pagetabs-btn pagetabs-btn-more right-0">
                    <span class="bg-none micon micon-down"></span>
                    <div class="pagetabs-btn-moremenus lh-20">
                        <a href="javascript:void(0)" id="pagetabs-titleselect-closecurrent">关闭当前页面</a>
                        <a href="javascript:void(0)" id="pagetabs-titleselect-closeother">关闭其它页面</a>
                        <a href="javascript:void(0)" id="pagetabs-titleselect-closeall">关闭全部页面</a>
                    </div>
                </div>

                <div class="pagetabs-tab-container">
                    <ul id="pagetabs-pageitem-container"></ul>
                </div>
            </div>
            <div id="pagetabs-bodycontainer">
            </div>
        </div>
    </div>
    <div id="index-foot"></div>

    <environment>
        <script type="text/javascript" src="~/script/jquery.min.js"></script>
        <script type="text/javascript" src="~/script/jquery-ui.min.js"></script>
        <script type="text/javascript" src="~/script/layui/layui.all.js"></script>
        <script type="text/javascript" src="~/script/jquery.mousewheel.min.js"></script>
        <script type="text/javascript" src="~/script/imessage/message.min.js"></script>
        <script type="text/javascript" src="~/script/dialog.js"></script>
        <script type="text/javascript" src="~/script/tool.js"></script>
        <script type="text/javascript" src="~/script/tabcontentpage.js"></script>
        <script type="text/javascript" src="~/script/index.js"></script>

        <script type="text/javascript">

            $(function () {
                $("#btn_modifypwd").click(function () {
                    ModifyPwd();
                });
            });

            //修改密码
            function ModifyPwd() {
                OpenDialogPage({
                    title: '修改登录密码',
                    content:'@Url.Action("ModifySelfPassword", "User")',
                    area: ["600px","300px"]
                });
            }

        </script>
    </environment>
</body>
</html>